<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86b381">  <td>16/04/15 14:56:23</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.Init()[pri:0, instance:Tutorial.Testing.Annotations@e9453f9]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1954648890</td>   <td></td> </tr>
<tr bgcolor="86b381">  <td>16/04/15 14:56:23</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotations.Test1(java.lang.String, java.lang.String)[pri:0, instance:Tutorial.Testing.Annotations@e9453f9]">Test1</td> 
  <td>main@1954648890</td>   <td></td> </tr>
<tr bgcolor="86b381">  <td>16/04/15 14:56:23</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotations.Test1(java.lang.String, java.lang.String)[pri:0, instance:Tutorial.Testing.Annotations@e9453f9]">Test1</td> 
  <td>main@1954648890</td>   <td></td> </tr>
<tr bgcolor="86b381">  <td>16/04/15 14:56:23</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotations.Test1(java.lang.String, java.lang.String)[pri:0, instance:Tutorial.Testing.Annotations@e9453f9]">Test1</td> 
  <td>main@1954648890</td>   <td></td> </tr>
<tr bgcolor="86b381">  <td>16/04/15 14:56:23</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotations.Test2()[pri:0, instance:Tutorial.Testing.Annotations@e9453f9]">Test2</td> 
  <td>main@1954648890</td>   <td></td> </tr>
</table>
